@{
    ViewData["Title"] = "Home Page";
}

@model User
<h1>in index</h1>
<h2><a href="/new">Add a new user</a></h2>
<h2><a href="/friend">Add a new friend</a></h2>
<h2><a href="/animal">Add a new animal</a></h2>
<h2><a href="/movie">Add a new movie</a></h2>
<h2><a href="/actor">Add a new actor</a></h2>
<h2><a href="/dog">Add a new dog</a></h2>
<h2><a href="/fruit">Add a new fruit</a></h2>
<h2><a href="/veggie">Add a new veggie</a></h2>



<h2>@Model.first_name</h2>
<h2>@Model.last_name</h2>
<h2>@Model.age</h2>

<h1>hey hey</h1>
